.creativity {
  margin-top: 80px;
  gap: 30px;
}
.creativity_blog {
  width: 540px;
}
.blog_content--title {
  font-size: 32px;
  line-height: 40px;
}
.creativity_blog--content {
  margin-top: 15px;
}
.creativity-list_item--text {
  margin-top: 16px;
  font-size: 17px;
  color: #737B7D;
}
.creativity_content-list {
  margin-top: 55px;
  gap: 30px;
}
