.flex {
  display: flex;
}
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptwg83HX_SGhgqk2hAjQlW_mEuZ0FsSd-OvHg.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rowdies/v5/ptRMTieMYPNBAK219hth5O4.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  color: #373F41;
}
/* global */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  font-weight: 700 !important;
}
a:hover {
  text-decoration: none;
}
.align-items {
  align-items: center ;
}
ul {
  margin: 0 !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 16px;
}
.img {
  width: 100%;
}
/*  */
@media only screen and (min-width: 1020px) and (max-width: 1128px) {
  .content_blog img {
    width: 100%;
  }
  .blog_item--login input {
    width: 270px;
    height: 42px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    background: #fff;
  }
  .creativity-list_item-img {
    width: 100%;
  }
  .creativity_blog {
    width: 470px;
  }
  .product_list {
    max-width: 220px;
  }
  .product_list img {
    width: 100% ;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1019px) {
  .header_menu {
    display: none;
  }
  .shipping_content--title {
    margin-top: 30px;
    font-size: 30px;
  }
  .content_blog img {
    width: 100%;
  }
  .blog_item--login input {
    width: 170px;
    height: 42px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    background: #fff;
  }
  .creativity-list_item-img {
    width: 100%;
  }
  .creativity_blog {
    width: 470px;
  }
  .product_list {
    max-width: 220px;
  }
  .product_list img {
    width: 100% ;
  }
  .blog_item--title {
    font-size: 17px;
    line-height: 29px;
  }
  .blog_item--text {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 21px;
  }
  .blog_item--login-text {
    margin-top: 20px;
  }
  .content_blog {
    width: 350px;
  }
  .creativity_blog {
    width: 340px;
  }
  .blog_content--title {
    font-size: 24px;
    line-height: 30px;
  }
  .product {
    flex-wrap: wrap;
  }
  .product_list {
    max-width: 340px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header_menu {
    display: none;
  }
  .shipping_content--title {
    font-size: 12px;
    margin-bottom: 0;
  }
  .shipping_link {
    margin-top: 30px;
  }
  .business_header-title {
    font-size: 19px;
    line-height: 32px;
  }
  .content_blog img {
    width: 100%;
  }
  .blog_item--login input {
    width: 170px;
    height: 42px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    background: #fff;
  }
  .creativity-list_item-img {
    width: 100%;
  }
  .creativity_blog {
    width: 470px;
  }
  .product_list {
    max-width: 220px;
  }
  .product_list img {
    width: 100% ;
  }
  .blog_item--title {
    font-size: 17px;
    line-height: 29px;
  }
  .blog_item--text {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 21px;
  }
  .blog_item--login-text {
    margin-top: 20px;
  }
  .content_blog {
    width: 350px;
  }
  .creativity_blog {
    width: 95%;
  }
  .blog_content--title {
    font-size: 24px;
    line-height: 30px;
  }
  .content {
    flex-wrap: wrap;
  }
  .product {
    flex-wrap: wrap;
  }
  .content_blog {
    width: 95%;
  }
  .product_list {
    max-width: 350px;
  }
  .product {
    flex-wrap: wrap;
  }
  .shipping_content {
    padding: 0 10px;
    top: calc(50% - 247px/2);
    left: 0;
  }
  .business_strategy {
    flex-wrap: wrap;
  }
  .shipping_img img {
    height: 320px;
  }
  .creativity {
    flex-wrap: wrap;
  }
  .creativity_blog {
    width: 95%;
  }
}
