@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size:14px;
    font-family: 'Mulish', sans-serif;
    color: @title-color;
}
/* global */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.df {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.df-center {
    display: flex;
    justify-content:center;
    align-items: center;
}
ul {
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    font-weight: 700 !important;
}
a:hover {
    text-decoration: none;
}
.align-items {
    align-items:center ;
}
ul {
    margin: 0 !important;
}
li {
    list-style: none;
}
a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none;
}
p {
    font-size: 16px;
}
.button {
    padding: 11px 15px;
    font-weight: 600;
}
/*  */

