@import "variables";
@import "reset";
.shipping {

}
.shipping_img {
    position: relative;
}
.shipping_img--header {
    width: 100%;
}
.shipping_content {
    position:absolute;
    top: calc(50% - 286px/2);
    max-width: 730px;
    left: calc(50% - 730px/2);
    text-align: center;
}
.shipping_link {
    margin-top: 67px;
}
.shipping_content--title {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 32px;
    color: @title-color;
}
.shipping_content--text {
    font-size: 17px;
}
.button--start {
    .button-inset(@color-white,@primary-color,@color-white,@primary-color);
    
}
.button--more {
    .button-inset(@primary-color,@color-white, @color-white,@primary-color);
}