@primary-color: #3C64B1;
@title-color:  #373F41;
@text-color: #737B7D;
@color-white: #fff;
@color-btn--line:#3C64B1;


@font-size-smallest: 8px;
@font-size-small: 10px;
@font-size-primary: 12px; 
@font-size-body: 14px;
@font-size-p:16px;


// Font Weight
// ------------------------------------------------------------
@font-weight__light: 300;
@font-weight__regular: 400;
@font-weight__heavier: 500;
@font-weight__semibold: 600;
@font-weight__bold: 700;

@font-weight__base: @font-weight__regular;

// letter-spacing
@letter-spacing__s: 0.2px;
@letter-spacing__m: 0.3px;
@letter-spacing__l: 0.4px;

// line-height
@line-height__db-extra-small: 14px;
@line-height__extra-small: 16px;
@line-height__small: 18px;
@line-height__medium: 20px;
@line-height__large: 22px;
@line-height__extra-large: 24px;
@line-height__db-extra-large: 40px;
@line-height__super-large: 56px;

