@primary-color: #3C64B1;
@title-color:  #373F41;
@text-color: #737B7D;
@color-white: #fff;
// @gray: #696984;
// @gray-light: #6c6c6c;
// @gray-dark: #464646;
// @gray-darker: #252641;
// $purple: #5b72ee;
// $yellow: #fff2e1;
// $blue: #29b9e7;